body {
    font-family: 'Roboto', sans-serif;
   background-color: #f1f1f1;
}
.footer {
    text-align: center;
font-size: 1vw;
}

#grid {
    display: grid;
width: fit-content;
height: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 8%;

grid-template-areas:    
'display display display display'
'clear clear del del'
 'seven eight nine div' 
'four five six multi'
'one two three sub'
'point zero equals add';

grid-template-rows: repeat(6, 5vw);
grid-template-columns: repeat(4, 5vw);
background-color:#323232;
row-gap: 9px;
column-gap: 9px;
padding: 6px;
border: 3px solid #323232;
border-radius: 2%;
}

.add, .sub, .multi, .divide.ops {

    background-color:   #faa537;
    }
    


button {
    background-color: #cdcdcd;
    font-size: 1.3vw;
    border-radius: 5%;
    font-weight: 700;
}


.display {
    grid-area: display;
    background-color: #00af00;
    font-size: 1.5vw;
    text-align: right;
    border-radius: 3px;
   margin: 1vh 0.5vw;
   padding: 2px;
}
.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.equals {
    grid-area: equals;
}

.clear {
    grid-area: clear;
    background-color: #2b32cc;
color: white;
}

.point {
    grid-area: point;
}

.divide {
    grid-area: div;

}

.multi {
    grid-area: multi;
}

.sub {
    grid-area: sub;
}

.add {
    grid-area: add;
}

.delete {
    grid-area: del;
    background-color:  #fa2828;
    color: white;
}

@media screen and (max-width: 600px) {


#grid {
grid-template-rows: repeat(6, 20vw);
grid-template-columns: repeat(4, 20vw);
padding: 3px;
border: 2px solid #323232;
border-radius: 2%;
}


    button {
        background-color: #cdcdcd;
        font-size: 5vw;
        border-radius: 5%;
    }

    body {
        margin-top: 15vh;
    }


.footer {
    font-size: 3vw;
}

.display {
    font-size: 5.5vw;
    text-align: right;
    margin: 0.3vh 0.2vw;
}
}